.item-count {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-add {
    border-radius: 5px;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 10px 30px;
    font-size: 15px;
}
.controls-count {
    padding: 10px;
    display: flex;    
    justify-content: flex-start;
    align-items: flex-end;
}
.count{
    margin: 5px 20px;
}
.button-count {
    border-radius: 5px;
    background-color: rgb(38, 38, 38);
    color: white;
    padding: 5px 25px;
    font-weight: bold;
}