.navbar {
    background-color: blue;
    display: flex;
    height: 150px;
    border-bottom: 2px solid black;
    list-style: none;
    text-align: center;
}
.icon-navbar {
    width: 100px;
    height: 100px;
}
.cart {
    width: 80px;
    height: 80px;
}