@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto&family=Ubuntu:wght@300&display=swap');

.cartWidget {
    padding: 1rem;
}
.list {
   
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    color: #edf0f1 ;
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: block;
    margin: auto;
}
.navbar {
    display: flex;
    background-color: #3d3e47;    
    padding: 15px 5%;
    border-bottom: solid black 1.5px;
    justify-content: space-between;
    align-items: center;
}
.category-navbar{
    font-weight: 500;
    height: 8px;    
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(24, 23, 23);
    color:#fff;
    border-radius: 4px;
  }
.logo {
    cursor: pointer;    
    width: 10rem;
}
.category-navbar {
    transition: all 0.3s ease-out;
}
.category-navbar:hover {
    color: #0088a9;
    transform: translateY(-3%);
} 
.cartWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
}