.navbar {
    background-color: rgb(102, 102, 228);    
    border-bottom: 2px solid black;   
    
}
.navbar ul {
    padding: 0;
    display: flex;
    list-style: none;
    text-align:center ;
    text-decoration: none;
}

.icon-navbar {
    width: 100px;
    height: 100px;
}